header
{
    position: relative;
    height: 300px;
    width: 100%;
}
body
{
    height: 100%;
    width: 100%;
}
article
{
    height: 500px;
    width: 40%;
    float: left;
    margin: 0px;
}
aside
{
    height: 100%;
    width: 50%;
    float: left;
    margin: 0px;
    padding: 0px;
}
footer
{
    height: 300px;
    width: 100%;
    background-color: black;
    float: left;
}
header>img
{
    height: 100%;
    width: 100%;
}
article>img
{
    height: 350px;
    width: 80%;
    position: relative;
    margin: 0 auto;
    top: 30px;
    left: 30px;
    border: 3px solid black;
}
.a:hover
{
    height: 70px;
    width: 70px;
}
.a
{
    height: 60px;
    width: 60px;
}

